.btn {
    padding: 10px 16px;
    background-color: #3e64ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .btn:hover {
    /* background-color: #2a4ddb; */
    transform: scale(1.05);
  }
  
  .btn-warning {
    background-color: #fbbf24;
    color: black;
  }
  
  .btn-danger {
    background-color: #fb4646;
  }
  